html{
    --translateX: -50%; 
    --location : -50%;
    --scrolIcon : -45deg;
    --bredcrumbIcon : 45deg;
    --scrolldowndeg : -90deg;
    --afterscrolldeg : 90deg;
    --origin : left;
    --rightIconPagination : 50%;
    --Facebook : 70px;
    --google : 110px;
    --twitter : 150px;
    --youtube : 190px;
    --linkedin : 230px;
    --chevron : 0.3rem;
    --chevronRotate : 0deg;
    &[dir="rtl"]{
     --chevronRotate : 180deg;
      --chevron : -0.3rem;
      --Facebook : -70px;
      --google : -110px;
      --twitter : -150px;
      --youtube : -190px;
      --linkedin : -230px;
      --directionsSocialMedia : -;
      --rightIconPagination : -50%;
      --translateX : 50%; 
      --location : 50%;
      --scrolIcon : 45deg;
      --bredcrumbIcon : -45deg;
      --scrolldowndeg : 90deg;
      --afterscrolldeg : -90deg;
      --origin : right;
    }   
}

:root {
    --mainColor : #0f78a5;
    --mainColorRgb : 15,120,165;
    --thirdColor : #999;
    --line : #6783ab;
    --sectionColor : #eee;
    --fixedColor : #02cbfc;
    --scrollIcons : #999;
    --bredCrumbArrowActive : #999;
    --primaryColor : #02cbfc;
    --dark-surface-1: #212529;
    --dark-surface-4: #fff;
    --inputs : #fff;
    --text-inputs : #000;
    --placeholder : #0f78a5;
    --scrollNav   : #fff;
    --bar         : #000;
    --ScrollBar   : #d4d4d4;
    --developer   : #02cbfc;
    &.dark-mode {
        --developer   : #fff;
        --ScrollBar   : #0f78a5;
        --dark-surface-1: #f8f9fa;
        --mainColor : #384955;
        --mainColorRgb : 56,73,85;
        --thirdColor : #272727;
        --line : #687987;
        --sectionColor : #B6B6B6;
        --fixedColor : #02cbfc;
        --scrollIcons : #F2ECFF;
        --bredCrumbArrowActive : #1f3846;
        --primaryColor : #272727;
        --dark-surface-4: #ced4da;
        --inputs : #577185;
        --text-inputs : #fff;
        --placeholder : #e8e8e8;
        --scrollNav   : #384955;
        --bar         : #fff;
    }
}


$primaryColor: #02cbfc;

$secondaryColor: #1077a7;

$opacityColor: rgba(43, 55, 92, 0.82);

$white : #fff;
